body{
    font-family: sans-serif;
    font-weight: 100;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.box{
    width: 350px;
    height: 500px;
    margin: 10px;
    border-radius: 5px;
    transition: 250ms ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.box:hover{
    font-size: 20px;
    box-shadow:  0 0 20px rgba(0,0,0,0.8);
}
.person{
    width:100%;
    text-align: center;
    margin-top: 20px;
}
.person img{
    height: 180px;
    width: 180px;
    border-radius: 100px;
    transition: 300ms ease-in-out;
    box-shadow: 0 0 50px rgba(0,0,0,0.4);
}
.person img:hover{
    box-shadow: 0 0 50px rgba(255,255,255,0.2);
}
.person h2{
    color: white;
    font-weight: 300;
    font-size:30px;
    letter-spacing: 2.5px;
}
.person p{
    color: white;
    margin-top: 20px;
    font-weight: 100;
    font-size: 15px;
}
.person button{
    color: white;
    width: 40%;
    border: none;
    padding: 12px;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 2px;
    transition: 300ms ease-in-out;
    background: rgba(255,255,255,0.2);
    box-shadow: box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.person button:hover{
    background: background: rgba(255,255,255,0.4);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.favio{
    display: flex;
    margin-top: 40px;
    align-self: center;
    align-content: center;
    justify-content: center;
}
.favio button{
    margin: 10px;
    width:20%;
    background: transparent;
    box-shadow: none;
}
.favio button:hover{
    box-shadow: 0 0 50px rgba(255,255,255,0.2);
}
.favio .fav{
    font-size: 17px;
}
.profile1{
    background: linear-gradient(to right, #b91d73, #f953c6);
}
.profile2{
    background: linear-gradient(to right, #ff5858, #f857a6);
}
.profile3{
    background: linear-gradient(to right,#48c6ef,#6f86d6)
}
.profile4{
    background: linear-gradient(to right,#cc2b5e ,#753a88)
}
.profile5{
    background: linear-gradient(to right,#56ab2f , #a8e063)
}
.profile6{
    background: linear-gradient(to right,#4568dc, #b06ab3)
}